<div class="home__buttons">
  <%= link_to 'Grid', root_path, class: "button #{'button--inactive' if params[:view] == 'list'}" %>
  <%= link_to 'List', root_path(view: 'list'), class: "button #{'button--inactive' unless params[:view] == 'list'}" %>
</div>

<% lazy_content = capture do %>
  <div class="lazy-content--source">
    <video src="https://s3.amazonaws.com/labud-2010s/production/v2/media_items/attachments/000/000/011/original/2010s-logo_black.mp4" class="home__logo" autoplay loop playsinline muted></video>
  </div>
<% end %>
<%= content_tag :div, nil, class: 'lazy-content', data: { lazy_content: lazy_content } %>

<div class="container-fluid">
  <div class="row">
    <% @posts.each_with_index do |post, index| %>
      <% if params[:view] == 'list' %>
        <div class="home__post-list col-12 py-2">
          <%= link_to post_path(post.to_friendly_param), class: 'blank-link' do %>
            <%= content_tag :div, md(post.title), class: 'h3' %>
            <%= content_tag :div, md(post.first_sentence), class: 'mt-2' if post.first_sentence.present? %>
            <%= content_tag :div, post.user.name, class: 'mt-2' %>
          <% end %>
        </div>
      <% else %>
        <%= content_tag :div,
                        class: "home__post-card-wrapper col-md-6 mb-8 #{index.odd? ? 'offset-md-5' : 'offset-md-1'}",
                        data: {
                          image_url: post.media_item.attachment.url(:small) } do %>
          <%= link_to post_path(post.to_friendly_param), class: 'home__post-card card blank-link' do %>
            <%= content_tag :div, md(post.title), class: 'h3' %>
            <%= content_tag :div, post.user.name, class: 'mt-2' %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>

<% if Setting.for(:foreward).present? %>
  <div class="home__forward-container site-container">
    <div class="container-fluid">
      <div class="row">
        <div class="col card">
          <h3 class="h4">Foreward</h3>
          <%= content_tag :div, md(Setting.for(:foreward)), class: 'mt-2' %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div id="home__post-image-overlay" class="home__post-image-overlay"></div>

<% if Setting.for(:colophon).present? %>
  <div class="home__colophon-container site-container mb-8">
    <div class="container-fluid">
      <div class="row">
        <div class="col card">
          <h3 class="h4">Colophon</h3>
          <%= content_tag :div, md(Setting.for(:colophon)), class: 'mt-2' %>
        </div>
      </div>
    </div>
  </div>
<% end %>
